<IfModule mod_authz_core.c>
  <FilesMatch "^(config\.local\.php|config\.php)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "^(config\.local\.php|config\.php)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
